
<app-signout></app-signout>
<div class="row">
  <div class="col-sm-4" style="align-content: center">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <label>Sort by</label>
      <select class="form-control" id="sort" name="sort" ngModel (change)="onPrior()">
        <option value="name">Name</option>
        <option value="Priority">Priority</option>
        <option value="Filter">Filter</option>

      </select>
      <br>

      <label *ngIf="filt==true">Select Filter </label>
      <select *ngIf="filt==true" class="form-control" id="filterHere" name= "filterHere" [(ngModel)]="filterHere" >

        
        <option value=0>Ultra</option>
        <option value=1>High</option>
        <option value=2>Normal</option>
        <option value=3>Low</option>
      </select>

      <br>

      <button type="submit" class="btn btn-primary">Sort</button>
    </form>
  </div>

</div>

<div *ngIf="hidee===false" >
  <h4>Sorted list</h4>
    <table class="table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Task Detail</th>
            <th>Priority</th>
          </tr>
        </thead>
    
    
        <tbody>
        
          <tr  *ngFor="let list of employeeList | sort:'taskname'">
            <td *ngIf="hide==true && onSub==true">{{ list.taskname  }}</td>
            <td *ngIf="hide==true && onSub==true">{{ list.taskdetail }}</td>
            <td *ngIf="hide==true && onSub==true">{{ taskpriority[list.priority] }}</td>
          </tr>

          <tr  *ngFor="let list of employeeList |sort: 'priority' ">
            <td *ngIf="prior==true  && hide==false  && onSub==true">{{list.taskname}}</td>
            <td *ngIf="prior==true && hide==false  && onSub==true">{{list.taskdetail}}</td>
            <td *ngIf="prior==true && hide==false  && onSub==true">{{taskpriority[list.priority]}}</td>
          </tr>

          <tr  *ngFor="let list of employeeList |sort:'filter':filterHere ">
            <td *ngIf="filt==true  && onSub==true  && onSub==true">{{list.taskname}}</td>
            <td *ngIf="filt==true  && onSub==true  && onSub==true">{{list.taskdetail}}</td>
            <td *ngIf="filt==true  && onSub==true  && onSub==true">{{taskpriority[list.priority]}}</td>
          </tr>


        </tbody>
      </table>
</div>