
<app-signout></app-signout>
<div class="row">
  <div class="col-sm-4" style="align-content: center">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <label>Sort by</label>
      <select class="form-control" id="sort" name="sort" ngModel (change)="onPrior()">
        <option value="name">Name</option>
        <option value="Priority">Priority</option>

      </select>
      <br>

      <!-- <label *ngIf="hide==true">Select Priority</label>
      <select *ngIf="hide==true" class="form-control" id="filter" name="filter" name="search">

        <option value="d">Default</option>
        <option value="u">Urgent</option>
        <option value="h">High</option>
        <option value="m">Medium</option>
        <option value="l">Low</option>
      </select> -->

      <br>

      <button type="submit" class="btn btn-primary">Sort</button>
    </form>
  </div>

</div>

<div *ngIf="hidee===false" >
  <h4>Sorted list</h4>
    <table class="table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Task Detail</th>
            <th>Priority</th>
          </tr>
        </thead>
    
    
        <tbody>
        
          <tr  *ngFor="let list of employeeList | sort:'taskname'">
            <td *ngIf="hide==false && onSub==true">{{ list.taskname  }}</td>
            <td *ngIf="hide==false && onSub==true">{{ list.taskdetail }}</td>
            <td *ngIf="hide==false && onSub==true">{{ taskpriority[list.priority] }}</td>
          </tr>

          <tr  *ngFor="let list of employeeList |sort: 'priority' ">
            <td *ngIf="hide==true">{{list.taskname}}</td>
            <td *ngIf="hide==true">{{list.taskdetail}}</td>
            <td *ngIf="hide==true">{{taskpriority[list.priority]}}</td>
          </tr>

        </tbody>
      </table>
</div>