<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">


          <div class="form-group">
            <label for="username">Taskname</label>
            <input 
              type="text"
              id="taskname"
              class="form-control"
              ngModel
              name="taskname"
              required>
          </div>

          <div class="form-group">
              <label for="username">Task Detail</label>
              <input 
                type="text"
                id="taskdetail"
                class="form-control"
                ngModel
                name="taskdetail"
                required>
            </div>
        </div>


        <p>Priority {{ asdf }}</p>
        <div class="radio" *ngFor="let prio of taskpriority">
          <label>
            <input
              type="radio"
              name="asdf"
              ngModel
              [value]="prio"
              required>
            {{ prio }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          >Submit</button>

          
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Task Name : {{ user.taskname }}</p>
      <p>Task Detail {{ user.taskdetail }}</p>
      <p>Answer: {{ user.date }}</p>
      <p>Gender: {{ user.priority }}</p>
    </div>
  </div>
</div>
