
<app-signout></app-signout>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">


          <div class="form-group">
            <label for="username">Taskname</label>
            <input 
              type="text"
              id="taskname"
              class="form-control"
              [(ngModel)]="taskname"
              name="taskname"
              required
              #tasknam="ngModel"
              >
              <span class="help-block" style="color:red"
              *ngIf="!tasknam.valid && tasknam.touched">
              please enter a taskname!</span>
          </div>

          <div class="form-group">
              <label for="taskdetail">Task Detail</label>
              <input 
                type="text"
                id="taskdetail"
                class="form-control"
                [(ngModel)]="taskdetail"
                name="taskdetail"
                required
                #taskdet="ngModel">
                <span class="help-block" style="color:red"
              *ngIf="!taskdet.valid && taskdet.touched">
              please enter the taskdetail!</span>
            </div>
        </div>

        <div class="form-group">
          <label >Assigned By</label>
          <div >
            <input type="text" class="form-control form-control-sm" id="taskassignedby"
            ngModel name="taskassignedby" required
            [(ngModel)]="taskassignedby">
          </div>
        </div>



        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Start Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control form-control-sm" id="startDate" (change)="onDate()"
            id="startDate" name="startDate" ngModel
            [(ngModel)]="startDate">
          </div>
         
        </div>

        <div class="form-group row">
          <label for="colFormLabelSm" 
          class="col-sm-3 col-form-label col-form-label-sm">Due Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control form-control-sm" id="duedate" (change)="onDate()"
            id="duedate" name="duedate" ngModel
            [(ngModel)]="duedate">
          </div>
          <span class="help-block" style="color:red"
          *ngIf="dateAlert===true">
          please enter the valid date!</span>
        </div>


        <p>Priority {{ prior }}</p>
        <div class="radio" *ngFor="let prio of taskpriority let i=index" >
          <label>
            <input
              type="radio"
              name="prior"
              [(ngModel)]="prior"
              [value]="i"
              required
              #priori="ngModel">
            {{ prio }}
          </label>
          <span class="help-block" 
          *ngIf="!priori.valid && priori.touched">
          please select a priority!</span>
        </div>


        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit
        </button>

          
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Task Name : {{ user.taskname }}</p>
      <p>Task Detail {{ user.taskdetail }}</p>
      <p>Start date: {{ user.startDate }}</p>
      <p>priority: {{ user.priority }}</p>
    </div>
  </div>
</div>
