.disp{
    background-color: blanchedalmond;
    align-content: center;
    border: black;
    border-width: 2px;
    border-style: solid;
    padding-top: 20px;
    background-origin: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%

}